<%- include("./inc/header") %>
<%- include("./inc/navbar") %>

    

    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa natus quod aliquam sed nihil dolorem veritatis dolorum ad sit eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa natus quod aliquam sed nihil dolorem veritatis dolorum ad sit eius.</p>
    </section>
<%- include("./inc/footer") %>

